{{#each games}}
<div class="card card-body">
    <h4>{{this/title}}</h4>
    <p>{{price}}</p>
    <p>{{description}}</p>
    <a href="/gameentry/gameentryedit/{{id}}" class="btn btn-block btn-dark">Edit</a>
</div>
{{else}}
<p>No Game Entries Found</p>
{{/each}}